<div ng-cloak>
  <md-content>
    <div layout="column" layout-fill layout-padding>
      <h1>
        About ReOrg
      </h1>
      <br>
      <h3>
        What is ReOrg?
      </h3>
      <p>
        ReOrg is a web application with that gamifies a task manager meant to integrate with education. The gamification comes through the addition of rewards (points or experience) for completing the tasks assigned by the teacher, that can then be spent on the integrated game. The application will have two main user views, the student view and the teacher view. The students will be able to access the task lists for each course and the game associated with the application. They will also be able to see their profile, where they will have access to personal information, classes that they are enrolled in, etc. Teachers will have the ability to schedule tasks, import calendars, access student reward information, and offer bonuses. 
      </p>
      <h3>
        Why build ReOrg?
      </h3>
      <p>
        While gamified task managers exist, the goal of ReOrg was to integrate an educational system into the application. By having teachers create courses with a set of tasks, it removes the necessity for students to be organized all on their own. Yet by including a tab for the students, they can create and complete their own additional tasks to supplement the teacher assigned tasks.
      </p>
    </div>
  </md-content>
</div>