<div ng-cloak>
  <md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <!-- <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false">
          <i class="material-icons">menu</i>
        </md-button> -->

        <h2 flex md-truncate>
          <a ui-sref="home">ReOrg</a>
        </h2>

        <md-button ng-if="vm.user.username" ng-click="vm.logout()">
          Task Manager  
        </md-button>
        <md-button ng-if="vm.user.username" ng-click="vm.logout()">
          Game
        </md-button>
        <md-button ng-if="vm.user.username" ng-click="vm.logout()">
          Logout  
        </md-button>
        <md-button ng-if="!vm.user.username" ui-sref="home.login">
          Login
        </md-button>
      </div>
    </md-toolbar>
  </md-content>
</div>