<div ng-cloak>
  <md-content>
    <br>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false">
          <i class="material-icons">menu</i>
        </md-button>

        <h2 flex md-truncate>ReOrg</h2>

        <md-button class="md-raised" aria-label="Learn More">
          Courses
        </md-button>
        <md-button class="md-raised" aria-label="Favorite">
          Profile
        </md-button>
      </div>
    </md-toolbar>
  </md-content>
</div>