<div class="container-fluid remove-space" ng-cloak>
    <div layout="row">

        <!-- Sidebar -->
        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4">
            <md-toolbar layout="row" layout-align="space-between center" class="md-theme-indigo">
                <h1 class="md-toolbar-tools">
                    <span class="fa fa-user padded-icon"></span>
                    <span> Profile: &nbsp;</span>
                    <span>{{pc.user.sui}}</span>
                </h1>
                <md-button ng-click="pc.close()" class="md-icon-button" aria-label="Close Sidebar" hide-gt-md>
                    <md-tooltip md-direction="left">Close</md-tooltip>
                    <span class="fa fa-close"></span>
                </md-button>
            </md-toolbar>
            <md-content layout-padding>
                <md-list>
                    <md-list-item
                        class="clickable"
                        ng-repeat="service in pc.services"
                        ng-click="pc.resetListContent(service.getPluralTitle());">
                        {{service.getPluralTitle()}}
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>

        <!-- Main page -->
        <div layout="column" layout-fill layout-padding>

            <!-- Header -->
            <div layout-padding>
                <h3>
                    <span class="fa fa-bank"></span>
                    <span> My {{pc.contentType | titleCase}}</span>
                    <md-button class="md-fab md-mini md-primary" ng-click="pc.toggleLeft()" hide-gt-md>
                        <span class="fa fa-exchange"></span>
                    </md-button>
                </h3>
            </div>

            <!-- Knowledge -->
            <div ng-if="pc.contentType != 'Projects'">
                <div ng-if="kl.knowledge.length == 0">
                    <p>No existing knowledge.</p>
                </div>
                <list type="'knowledge'"
                            items="pc.knowledge"
                            curr-page="pc.currPage"
                            items-per-page="pc.knowPerPage"
                            info="{'deleteHidden': true}">
                </list>
            </div>

            <!-- Projects -->
            <md-grid-list ng-if="pc.contentType == 'Projects'" md-cols-xs="1" md-cols-gt-xs="2" md-row-height="300px">
                <md-grid-tile md-rowspan="1" md-colspan="1">
                    <card-list
                        layout="row"
                        layout-align="none stretch"
                        flex="grow"
                        title="'Current Projects'"
                        type="'project'"
                        items="pc.getCurrentProjects()">
                    </card-list>
                </md-grid-tile>
                <md-grid-tile md-rowspan="1" md-colspan="1">
                    <card-list
                        layout="row"
                        layout-align="none stretch"
                        flex="grow"
                        title="'Suggested Projects'"
                        type="'project'"
                        items="pc.getSuggestedProjects()">
                    </card-list>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</div>
