<!-- <div class="container-fluid remove-space" ng-cloak> -->
<div ng-cloak>
  <!-- <div layout="row"> -->
  <div>
    <!-- Main page -->
    <md-content>
      <div layout="column" layout-fill layout-padding>
        <!-- Header -->
        <div layout-padding>
          <h3>
            <span class="fa fa-bank"></span>
            <span>Task List</span>
            <md-button class="md-raised md-primary" ng-click="vm.addCourse()">
              <span class="fa fa-plus">&nbsp;</span>
              Add New Course
            </md-button>
          </h3>
        </div>
        <md-card layout="column" class="tabsdemoDynamicHeight">
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="My Tasks">
              <md-content class="md-padding">
                <h1 class="md-display-2">Tab One</h1>
                <p>Hola</p>
              </md-content>
            </md-tab>
            <md-tab 
              label="{{course.title}}" 
              ng-repeat="course in vm.userData.courses"
              ng-click="vm.setCourse(course._id)">
              <md-content layout="row">
                <md-list flex="50">
                  <md-card ng-repeat="task in vm.currentCourse.tasks">
                    <teacher-task-item 
                      task=task
                      on-set="vm.setTask(item)"
                      on-edit="vm.editTask(item)"
                      on-delete="vm.deleteTask(item)">
                    </teacher-task-item>
                  </md-card>
                  <md-button class="md-raised md-primary" ng-click="vm.addTask()">
                    <span class="fa fa-plus">&nbsp;</span>
                    Add New Task
                  </md-button>
                </md-list>
                <md-card flex="50" ng-if="vm.currentTask">
                  <!-- <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">{{ vm.currentTask.title }}</span>
                    </md-card-title-text>
                  </md-card-title> -->
                  <md-card-content>
                    <h3>{{ vm.currentTask.title }}</h3>
                    <br>
                    <h4>Description:</h4>
                    <p>{{ vm.currentTask.description }}</p>
                    <h4>Reward:</h4>
                    <p>{{ vm.currentTask.rewardValue }}</p>
                  </md-card-content>
                </md-card>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-card>
      </div>
    </md-content>
  </div>
</div>
