<div ng-cloak layout="column">
  <md-card>
      <div layout="row" layout-align="space-between center">
        <md-card-title flex="33">
          <div class="md-headline">Reward Exchange!</div>
        </md-card-title>
        <div flex="33" style="text-align: center;">
          <md-button ng-click="vm.flipShowSize()" class="md-primary md-raised">
            <div ng-if="vm.showSizes">Show Images</div>
            <div ng-if="!vm.showSizes">Show Sizes</div>
          </md-button>
        </div>
        <md-card-title flex="33">
          <div class="md-headline">Reward: {{ vm.userData.totalReward }}</div>
        </md-card-title>
      </div>
    
    <div layout="row" ng-if="vm.showSizes">
      <md-card class="reward md-whiteframe-15dp" flex="33" ng-repeat="size in vm.store.sizes">
        <md-card-content>
          <div class="md-headline">{{size.title}} Puzzle</div>
          <div class="md-headline">Cost: {{size.cost}}</div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center end">
          <md-button
            ng-disabled="vm.userData.game.store[size.value]"
            ng-click="vm.purchase(size)"
            class="md-primary md-raised">
            Purchase
          </md-button>
          <md-button
            ng-disabled="!vm.userData.game.store[size.value]"
            ng-click="vm.setSize(size)"
            class="md-primary md-raised">
            Select
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div layout="row" ng-if="!vm.showSizes">
      <md-card class="reward md-whiteframe-15dp" flex="33" ng-repeat="image in vm.store.images">
        <md-card-content>
          <div class="md-headline">{{image.title}}</div>
          <div class="md-headline">Cost: {{image.cost}}</div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center end">
          <md-button 
            ng-click="vm.purchase(image)"
            ng-disabled="vm.userData.game.store[image.value]"
            class="md-primary md-raised">
            Purchase
          </md-button>
          <md-button
            ng-disabled="!vm.userData.game.store[image.value]"
            ng-click="vm.setImage(image)"
            class="md-primary md-raised">
            Select
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-card>
  <md-card>
    <div layout="row" layout-align="center">
      <md-card-content>
        <md-card class="md-whiteframe-15dp">
          <md-card-content>
            <div ng-include="type"></div>
            <script type="text/ng-template" id="sliding-puzzle">
              <fieldset id="sliding-simple">
                <legend>
                  <div layout="row" layout-align="center">{{vm.puzzle.title}}</div>
                </legend>
                <div class="size" layout="row" layout-align="center center">
                  <md-button 
                    class="md-primary md-raised" 
                    ng-click="vm.puzzle.api.shuffle()">
                    shuffle
                  </md-button>
                  <md-button
                    class="md-primary md-raised" 
                    ng-click="vm.puzzle.api.solve()">
                    solve
                  </md-button>
                </div>
                <div class="status" layout="row" layout-align="space-between center">
                  <div flex-offset="15" flex="50">Moves: <strong>{{vm.puzzle.api.moves}}</strong></div>
                  <div flex="50">Solved: <strong>{{vm.puzzle.api.isSolved()}}</strong></div>
                </div>
                <sliding-puzzle api="vm.puzzle.api" size="{{vm.puzzle.size}}" src="{{vm.puzzle.src}}"></sliding-puzzle>
              </fieldset>
            </script>
          </md-card-content>
        </md-card>
      </md-card-content>
    </div>
  </md-card>
</div>